<!DOCTYPE html>
<html>
<head>
  <title>Searcher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= render 'home/form' %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="lead">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
